# .clang-format
BasedOnStyle: Google
IndentWidth: 2
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: Inline
DerivePointerAlignment: false
PointerAlignment: Left
IncludeBlocks: Preserve
SortIncludes: true
UseTab: Never
BreakBeforeBraces: Attach
AlwaysBreakTemplateDeclarations: Yes
ReflowComments: true
Standard: Cpp11